body {
  background: radial-gradient(circle, rgba(238,174,202,1) 20%, rgba(148,187,233,1) 100%);
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}


button {
  cursor: pointer;
}